
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100lvh;
  background-color: var(--glacier-white);
  position: fixed;
  top: 0;
  left: 0;
  min-height: 280px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  /* padding-top: 6rem; */
  padding-right: 12%;
  padding-left: 8%;
  /* padding-bottom: 6rem; */
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  height: 100%;
  overflow-y: scroll;
}

.nav li {
  list-style: none;
  margin: 0.85rem 0;
}

.sub_nav {
  padding-left: 1.5rem;
}

.sub_nav li {
  margin: 0.5rem 0;
}

.nav a,
.nav p {
  color: var(--coral-black);
  font-size: 1.35rem;
  font-family: var(--font-heading);
  font-weight: 500;
  text-decoration: none;
  margin: 0;
}

.icon_arrow {
  width: 1rem;
  height: 1rem;
  margin-left: 0.4rem;
  transform: scale(0.85);
}

.icon_chevron {
  width: 1rem;
  height: 1rem;
  margin-left: 0.4rem;
  transform: scale(0.7) rotate(90deg);
}

.icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
}

.art {
  max-width: 10rem;
  z-index: 10;
}

.cir_1 {
  position: absolute;
  aspect-ratio: 1/1;
  width: 40%;
  top: -3rem;
  left: -2.5rem;
  transform: rotate(-30deg);
}

.cir_2 {
  position: absolute;
  aspect-ratio: 1/1;
  width: 37.5%;
  bottom: -3rem;
}

.cir_3 {
  position: absolute;
  aspect-ratio: 1/1;
  width: 40%;
  top: 3rem;
  right: -2.5rem;
  transform: rotate(-30deg);
}

.cir_4 {
  position: absolute;
  aspect-ratio: 1/1;
  width: 35%;
  bottom: -1rem;
  left: -2.5rem;
  transform: rotate(-30deg);
}

.cir_5 {
  position: absolute;
  aspect-ratio: 1/1;
  width: 35%;
  bottom: 2rem;
  right: -2.5rem;
  transform: rotate(-210deg);
}

@media (orientation: landscape) {

  .nav {
    justify-content: flex-start;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    padding-left: 25%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 15%;
    /* height: 100lvh; */
    overflow-y: scroll;
  }

  .nav li {
    margin: 0.5rem 0;
  }

  .sub_nav {
    padding-left: 1.5rem;
  }

  .sub_nav li {
    margin: 0.3rem 0;
  }

  .cir_2 {
    display: none;
  }

  .cir_5 {
    bottom: -3.5rem;
  }

}
