
/* Banner */

.banner_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.banner_content h4 {
  width: 100%;
  color: var(--glacier-white);
  cursor: default;
}

.banner_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner_button {
  margin: 2% 0;
}

@media (orientation: landscape) {
  .banner_buttons {
    flex-direction: row;
  }

  .banner_button {
    margin: 0 2%;
  }
}

@media (min-width: 48rem) {

  .banner_content {
    bottom: 14%;
  }

  .banner_content h4 {
    max-width: 25rem;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .banner_buttons {
    flex-direction: row;
  }

  .banner_button {
    margin: 0 2%;
  }

}

/* About Section */

.about_title {
  width: 100%;
  text-align: left;
}

.about_text {
  margin-bottom: 0.5rem;
  width: 100%;
}

.about_points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  cursor: default;
}

.about_point {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0 auto 1rem auto;
  width: 100%;
  max-width: 120rem;
  font-family: var(--font-body);
  font-size: 1rem;
}

.about_point .icon {
  display: block;
  min-width: 1.5rem;
  height: 1.5rem;
  padding: 0.4rem;
  margin-right: 1rem;
  border-radius: 50%;
  color: var(--coal-black);
  background: var(--refreshing-mint);
}

@media (orientation: landscape) {

  .about_points {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .about_point {
    width: 50%;
    margin: 0;
    padding: 1% 2% 1% 0;
  }

  .about_point .icon {
    min-width: 1.75rem;
    height: 1.75rem;
  }
}

@media (min-width: 48rem) {

  .about_title {
    margin-top: 0;
    cursor: default;
  }

  .about_points {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .about_point {
    width: 100%;
    font-size: 1rem;
    margin: 0;
    padding: 1% 2% 1% 0;
  }

  @media (orientation: landscape) {
    .about_panel .about_point {
      max-width: none;
      margin: 0;
      padding: 1% 2% 1% 0;
    }
  }
}

/* Projects Section */

.projects_panel {
  max-width: 100rem;
  margin: 3rem auto;
  width: 100%;
  margin: 0 auto;
}

.projects_panel h3 {
  width: 81%;
}

.projects_image {
  display: none;
}

.project_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.project_list > *:nth-child(n) {
  display: flex;
  margin-bottom: 0.5rem;
}

.project_list > *:nth-child(n+3) {
  display: none;
}

.project_list > *:nth-last-child(2) {
  display: flex;
}

@media (orientation: landscape) {

  .projects_panel {
    width: 96%;
    max-width: 100rem;
  }

  .projects_panel h3 {
    width: 91%;
  }

  .project_list {
    width: 100%;
    max-width: 100rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .project_list > *:nth-child(n) {
    display: flex;
    width: 49%;
  }

  .project_list > *:nth-child(n+4) {
    display: none;
  }

  .project_list > *:nth-last-child(2) {
    display: flex;
  }
}

@media (min-width: 40rem) {

  .projects_panel {
    width: 95%;
    max-width: 100rem;
  }

  .projects_panel h3 {
    width: 91%;
  }

  .project_list {
    all: unset;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 100%;
  }

  .project_list > *:nth-child(n) {
    width: 100%;
    margin: 0;
    display: flex;
  }

  .projects > *:nth-child(n+5) {
    display: none;
  }

  .projects_image {
    display: flex;
    width: 100%;
    aspect-ratio: 2/0.95;
    grid-column: 1 / span 2;
  }

  .projects_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: var(--sunshine-yellow) 8px solid;
    border-radius: 37px;
  }

}

@media (min-width: 52rem) {

  .projects_panel h3 {
    width: 92%;
  }

  .project_list {
    /* max-width: 70rem;
    margin: auto; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .project_list > *:nth-child(n) {
    display: flex;
    width: 100%;
  }

  .project_list > *:nth-last-child(2) {
    grid-column: 3;
  }

  .project_list > *:nth-child(n+7) {
    display: none;
  }

}

@media (min-width: 76rem) {

  .projects_panel h3 {
    width: 92%;
  }

  .project_list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .project_list > *:nth-child(n) {
    display: flex;
    width: 100%;
  }

  .project_list > *:nth-last-child(2) {
    grid-column: 4;
  }

  .project_list > *:nth-last-child(1) {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

}


/* Project Card */


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  background: var(--glacier-white);
  border: var(--sky-blue) 8px solid;
  border-radius: 37px;
  text-decoration: none;
  position: relative;
  box-shadow: none;
  transition: all 0.5s;
}

.card:hover {
  /* box-shadow: 0 0 16px 16px var(--softened-sky-blue); */
  transform: scale(1.025);
}

.card:hover .icon {
  animation: bouncing_arrow 1s infinite;
}

@keyframes bouncing_arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0);
  }
}

.card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 10% 0;
}

.card h5 {
  background-color: var(--sky-blue);
  padding: 0.75rem 1rem;
  text-decoration: none;
  letter-spacing: -0.05rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card .icon {
  display: block;
  min-width: 1.15rem;
  height: 1.15rem;
  padding: 0.4rem;
  border-radius: 50%;
  color: var(--coal-black);
}

.card p {
  margin-top: 0.3rem;
  padding: 0.5rem;
  background: var(--sky-blue);
  width: 100%;
  min-height: 40%;
  height: 40%;
  max-height: 40%;
  overflow: hidden;
}

@media (orientation: landscape) {
  .card {
    width: 45%;
  }

  .card .icon {
    min-width: 1.25rem;
    height: 1.25rem;
  }
}

@media (min-width: 64rem) {
  .card {
    width: 45%;
  }

  .card .icon {
    min-width: 1.4rem;
    height: 1.4rem;
  }
}


/* 404 Page */


.title_404 {
  width: 90%;
  text-align: center;
  margin: 2rem auto 1rem auto;
  max-width: 40rem;
  font-size: 2.5rem;
}

.body_404 {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  max-width: 40rem;
  font-size: 1.25rem;
}
