
.projects_panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  max-width: 60rem;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.card {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  background: var(--glacier-white);
  border: var(--sky-blue) 8px solid;
  border-radius: 37px;
  text-decoration: none;
  position: relative;
  transition: all 0.5s;
  margin-bottom: 0.5rem;
}

.card:hover {
  transform: scale(1.025);
}

.card h5 {
  background-color: var(--sky-blue);
  padding: 0.75rem 1rem;
  letter-spacing: -0.05rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 0;
}

.card .icon {
  display: block;
  min-width: 1.15rem;
  height: 1.15rem;
  padding: 0.4rem;
  color: var(--coal-black);
}

.card:hover .icon {
  animation: bouncing_arrow 1s infinite;
}

@keyframes bouncing_arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (orientation: landscape) {
  .projects_panel {
    width: 96%;
    max-width: 100rem;
    flex-direction: row;
    justify-content: space-around;
  }

  .card {
    width: 45%;
  }

  .card .icon {
    min-width: 1.25rem;
    height: 1.25rem;
  }
}

@media (min-width: 36rem) {
  .projects_panel {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    max-width: 100rem;
  }

  .card {
    width: 100%;
  }
}

@media (min-width: 56rem) {
  .projects_panel {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 64rem) {
  .card .icon {
    min-width: 1.4rem;
    height: 1.4rem;
  }
}

@media (min-width: 80rem) {
  .projects_panel {
    grid-template-columns: repeat(4, 1fr);
  }
}
