
.title {
  width: 100%;
}

.text {
  width: 100%;
  margin: 0.5rem 0;
}

.text a {
  color: var(--deep-ocean-blue);
}

.button {
  align-self: center;
  margin-top: 0.5rem;
}

.stats_panel {
  width: 100%;
  background: var(--deep-ocean-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
  flex-wrap: wrap;
}

.stats_panel article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  border: 4px solid var(--glacier-white);
  border-radius: 10px;
  width: 90%;
  max-width: 20rem;
}

.stats_panel h4,
.stats_panel p {
  color: var(--glacier-white);
  width: 100%;
  text-align: center;
}

.stats_panel p {
  font-size: 1.35rem;
}

.icon {
  color: var(--glacier-white);
  width: 80%;
  font-size: 6rem;
}

@media (min-width: 48rem) {
  .stats_panel {
    margin: 3.5rem auto;
  }
}
